header{
    width: 100%;
    padding: 20px;
}
.nav-enlace{
    display: inline-block;
    text-decoration: none;
    font-size: 15pt;
    padding: 10px 30px;
}

.nav-enlace:hover{
    background: var(--grisClaro-color);
    color: var(--azul-color);
}

nav{
    background:var(--blanco-color);
    text-align: center;
    border-bottom: 2px var(--negro-color);
    display: flex;
    justify-content: space-between;
}

ul {

    display: flex;
    justify-content: center;
}

.icons_login-sing-up{
    width: 15%;
    display: flex;
    justify-content: space-between;
}