header{
    width: 100%;
    padding: 20px;
    height: 20vh;
}
.nav-enlace{
    display: inline-block;
    text-decoration: none;
    font-size: 15pt;
    padding: 10px 30px;
}

.nav-enlace:hover{
    background: var(--grisClaro-color);
    color: var(--azul-color);
}

nav{
    background:var(--blanco-color);
    text-align: center;
    border-bottom: 2px var(--negro-color);
    display: flex;
    justify-content: space-between;
}

ul {

    display: flex;
    justify-content: center;
}

a{

}

.icons_login-sing-up{
    width: 20%;
    display: flex;
    justify-content: space-between;
}


/* FOOTER */

footer{
    height: 10vh;
    background: var(--gris-color);
}

#h2_footer--librook{
    color: var(--blanco-color);
}

.footer_log{
    display: flex;
    justify-content: center;
    align-items: center;
}