/* COlORES PRINSIPALES DE LA PAGINA 
--amarillo-color: #FFB223;
--azul-color: #6E74E6;
--gris-color: #878795;

COLORES SECUNDARIOS DE LA PAGINA
--blanco-color: #fff;
--negro-color: #000;
 */


.titulo{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 90px;
    color: var(--amrillo-color);
}

.imagen1{
    text-align: center;
    border-radius: 10px;
}

.eslogan{
    padding-top: 70px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 40px;   
}

.informacion{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.imagen2{
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 50px;
    
}

.texto1{
    padding-left: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

.imagen3{

    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 0;
}

.texto2{
    padding-left: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: left;    
}

.masinfo{
    padding-top: 100px;
    padding-bottom: 100px;
}

.conoce{
    text-align: center;
    font-size: 50px;
}

.tabla {
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .franja {
    border-bottom: 1px solid #ddd;
  }
  
  .pregunta {
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pregunta:hover {
    background-color: var(--gris-color);
  }
  
  .contenido {
    padding: 0 20px;
    display: none;
    background-color: var(--blanco-color);
    overflow: hidden;
  }
  
  .contenido p {
    padding: 15px 0;
  }
  
  .pregunta::after {
    content: '+';
    font-size: 20px;
    float: right;
  }
  
  .pregunta.active::after {
    content: '-';
  }

  .unete{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .comunidad{
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
  }

  .clic{
    
    text-align: center;
    margin-top: 15px;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    background: var(--grisClaro-color);
    color: var(--azul-color);
  }
  
  .clic:hover{
    background: var(--azul-color);
    color: var(--blanco-color);
  }