img {
    width: 100%;
    height: 100%;
}

.img_valorlibro { 
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.img_libro{
    width: 200px;
    height: 350px;
}

.valor { 
    font-size: 5rem;
    background-color: var(--azul-color);
    color: var(--blanco-color);

}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: var(--azul-color);
    transform: skewY(5deg);
    margin-top: 7%;
}

.titulo .contenido { 
    width: 60%;
    height: 50%;
    position: absolute;
    left: 25%;
}

.titulo .contenido p {
    color: var(--blanco-color);
    font-weight: bolder;
    font-size: 50px;
    transform: skewY(-5deg);
}

.interfaz1 {
    width: 80%;
    height: auto;
    margin-top: 5%;
    padding: 10px;
    border-bottom: dashed var(--blanco-color);
    transform: skewY(5deg);
}

.tituloseccion, .p {
    color: var(--blanco-color);
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    transform: skewY(deg);
}

.Tinformacion {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    width: 70%;
    transform: skewY(5deg);
}

.section_tablaInformacion {
    background-color: var(--azul-color);
    color: var(--blanco-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: skewY(-5deg);
}
